$theme1-background: hsl(222, 26%, 31%);
$theme1-toggle-background: hsl(223, 31%, 20%);
$theme1-screen-background: hsl(224, 36%, 15%);

$theme1-key-special: hsl(225, 21%, 49%);
$theme1-key-special-shadow: hsl(224, 28%, 35%);
$theme1-key-result: hsl(6, 63%, 50%);
$theme1-key-result-shadow: hsl(6, 70%, 34%);
$theme1-key-normal: hsl(30, 25%, 89%);
$theme1-key-normal-shadow: hsl(28, 16%, 65%);

$theme1-text-dark: hsl(221, 14%, 31%);
$theme1-text-white: hsl(0, 0%, 100%);



$theme2-background: hsl(0, 0%, 90%);
$theme2-toggle-background: hsl(0, 5%, 81%);
$theme2-screen-background: hsl(0, 0%, 93%);

$theme2-key-background: hsl(185, 42%, 37%);
$theme2-key-shadow: hsl(185, 58%, 25%);
$theme2-key-orange: hsl(25, 98%, 40%);
$theme2-key-dark-orange: hsl(25, 99%, 27%);
$theme2-key-light-yellow: hsl(45, 7%, 89%);
$theme2-key-orange: hsl(35, 11%, 61%);

$theme2-text-dark: hsl(60, 10%, 19%);
$theme2-text-white: hsl(0, 0%, 100%);



$theme3-background: hsl(268, 75%, 9%);
$theme3-toggle-background: hsl(268, 71%, 12%);

$theme3-key-background: hsl(281, 89%, 26%);
$theme3-key-shadow: hsl(285, 91%, 52%);
$theme3-key-cyan: hsl(176, 100%, 44%);
$theme3-key-soft-cyan: hsl(177, 92%, 70%);
$theme3-key-dark-violet: hsl(268, 47%, 21%);
$theme3-key-dark-magenta: hsl(290, 70%, 36%);

$theme3-text-yellow: hsl(52, 100%, 62%);
$theme3-text-blue: hsl(198, 20%, 13%);
$theme3-text-white: hsl(0, 0%, 100%);
